.auth-container {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  padding: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: rgb(239, 237, 237);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 20px;
}

button {
  background-color: rgb(11, 107, 224);
}
.a-tag{
  margin: 10px;
  text-align: center;
  justify-content: center;
}

