body {
  margin: 0;
  padding: 0;
  background-image: url('https://images5.alphacoders.com/111/1116461.jpg');
  background-size: cover; 
  background-position: center;
  background-attachment: fixed; 
  
  font-family: Arial, sans-serif; 
}

